body {
  font-family: "Montserrat", sans-serif;
  background-color: #dbdfe6;
}
/* main styles */

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1033px;
  margin: 0 auto;
  background-color: rgb(252, 250, 250);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
}

.main-content {
  background-color: rgb(252, 250, 250);
}

.wrapper {
  background-color: whitesmoke;
  padding: 10px 20px 20px 50px;
  border-radius: 15px;
}

/* about styles */
.about {
  margin-bottom: 40px;
  text-align: center;
}

.about-position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 20px;
}

.about-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
}

.about-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 560px;
}

/* project styles */

.Project {
  margin-bottom: 50px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
.project-list {
  padding: 0;
  margin-left: 15px;
}

.projects-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project,
.project-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project-text {
  padding: 0;
  margin: 0;
  width: 515px;
  color: #303030;
}

/* work styles */
.work {
  margin-bottom: 45px;
}

.work-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work-list {
  padding: 0;
  margin-left: 15px;
}

.work-list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* education styles */

/* .university {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
} */

.department {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0;
}

/* asidebar styles */

.asidebar {
  background-color: rgb(252, 250, 250);
  padding: 20px;
  width: 300px;
}

.wrapper-photo {
  max-width: 300px;
  height: 300px;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.contact,
.tech-skills,
.soft-skills,
.languages {
  margin-left: 40px;
}

.contact {
  margin-bottom: 30px;
}

.tech-skills {
  margin-bottom: 30px;
}

.sidebar-title {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
  width: 140px;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-tape {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  margin-right: 5px;
}

.contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.tech-skills-list {
  color: #000000;
  padding: 0;
  list-style: none;
}

.soft-skills-list {
  color: #000000;
  padding: 0;
  list-style: none;
}

.tech-skills-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}

.soft-skills-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}

.skill-languages {
  color: #000000;
  padding: 0;
  list-style: none;
}

.languages-skill-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}
